<div style="display: flex; justify-content: center; text-align: center;">
  <section class="section">
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-menu is-active buttons" style="width: 100%; display: flex; justify-content: center;">
          <button class="button is-link" [routerLink]="['']">Home</button>
          <button class="button is-link" [routerLink]="['/users']">List Users</button>
          <button class="button is-link" [routerLink]="['/addUser']">Add a User</button>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </section>
</div>